body {
    color: #F2F2F2;
    background-color: #0B0C0D;
    font-family: coda, arial, helvetica, sans-serif;
    font-size: 10pt;
}

a {
    color: #999;
}

.clearer {
    float: none;
    clear: both;
}

li.old {
    display: none;
}

td.resoInfoCell {
    width: 100px;
}

.arrow-up {
    border-color: transparent transparent gray !important;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    margin-bottom: 4px;
}

.arrow-down {
    border-color: gray transparent transparent;
    border-style: solid;
    border-width: 8px 8px 8px;
}
